@import 'src/variables';

img.about-image {
    max-height: 60vh;
    max-width: 40vw;
    margin-left: 20vh;
    margin-right: $unrelated-distance * 2;

    @media screen and (max-width: 500px) {
        margin-left: unset;
        margin-right: unset;
    }
}

div.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media screen and (max-width: 500px) {
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: $unrelated-distance;


    @media screen and (max-width: 500px) {
        margin-left: unset;
        margin-right: unset;
    }

    h2.title {
        margin-bottom: unset;
    }
}