@import 'src/variables';

div.intro-container {
    height: 100vh;
    width: 100vw;
    background-color: $neo;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: $goldenGrass;
        font-weight: lighter;
        font-size: 100px;
    }
}
